body {
  font-size: 1.2em;
}
#list1 {
  float: left;
  margin-left: 20px;
}

#list2 {
  float: left;
  margin-left: 400px;
}

.error {
  color: red;
}

.button
{
float: right;
border: solid black 1px;
font-weight: bold;
margin-left: 20px;
}
